body {
   margin: 0;
   padding: 0;
   border: 0;
}

section {
   min-height: 100vh;
}

div {
   background-color: lightgrey;
}

/* https://www.materialpalette.com/green/lime */
/*
div:nth-of-type(5n+2) {
   background-color: #388E3C;
}

div:nth-of-type(5n+3) {
   background-color: #C8E6C9;
}

div:nth-of-type(5n+4) {
   background-color: #4CAF50;
}

div:nth-of-type(5n) {
   background-color: #212121;
}

div:nth-of-type(5n+1) {
   background-color: #CDDC39;
}
*/

/*https://color.adobe.com/es/create/image*/
div:nth-of-type(5n+2) {
   background-color: #0A89A6;
}

div:nth-of-type(5n+3) {
   background-color: #C8E6C9;
}

div:nth-of-type(5n+4) {
   background-color: #278C7A;
}

div:nth-of-type(5n) {
   background-color: #212121;
}

div:nth-of-type(5n+1) {
   background-color: #93A603;
}





span {
   background-color: rgba(255, 255, 255, .5);
   border-radius: 50%;
   display: block;
   font-size: 48px;
   height: auto;
   line-height: 3em;
   text-align: center;
   width: 3em;
}

/* ex1-0 */
/* 
span:hover{
   transform: scale(1.2) rotate(30deg);
} */



/* ex1-1 */
/* section{
   display: flex;
} */

/* ex1-2 */
/* section{
   display: flex;
   flex-wrap: wrap;
}
div{
   flex-basis: 25%;
} */

/* ex1-3 */
/* section{
   display: flex;
   flex-wrap: wrap;
}
div{
   flex-basis: 23%;
   margin: 0.5%;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
} */

/* ex1-4 */
/* section {
   display: flex;
   flex-wrap: wrap;
}

div {
   flex-basis: 23%;
   margin: 0.5%;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
}

div:nth-child(5){
   flex-basis: 95%;
} */

/* ex1-5 */

/* section {
   display: flex;
   flex-wrap: wrap;
}

div {
   flex-basis: 23%;
   margin: 0.5%;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
}

div:nth-child(5) {
   flex-basis: 95%  
}

 */

/* ex1-6 */
/* section {
   display: flex;
   flex-wrap: wrap;
}

div {
   flex-basis: 23%;
   margin: 0.5%;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
}

div:nth-child(5) {
   flex-basis: 95%  
}


@media (max-width: 600px){
   section{
      flex-direction: column;
   }
} */

/* ex1-8 */

/* section {
   display: flex;
   flex-wrap: wrap;
}

div {
   flex-basis: 23%;
   margin: 0.5%;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
}

div:nth-child(9) {
   flex-basis: 100%; 

} */